java1/WebContent/wsdl/helloservice2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.com" xmlns:intf="http://service.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sum">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sumResponse">
    <complexType>
     <sequence>
      <element name="sumReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayhello">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayhelloResponse">
    <complexType>
     <sequence>
      <element name="sayhelloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sayhelloRequest">

      <wsdl:part element="impl:sayhello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayhelloResponse">

      <wsdl:part element="impl:sayhelloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sumRequest">

      <wsdl:part element="impl:sum" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sumResponse">

      <wsdl:part element="impl:sumResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="helloservice2">

      <wsdl:operation name="sum">

         <wsdl:input message="impl:sumRequest" name="sumRequest">

       </wsdl:input>

         <wsdl:output message="impl:sumResponse" name="sumResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayhello">

         <wsdl:input message="impl:sayhelloRequest" name="sayhelloRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayhelloResponse" name="sayhelloResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="helloservice2SoapBinding" type="impl:helloservice2">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sum">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sumRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sumResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayhello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayhelloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayhelloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="helloservice2Service">

      <wsdl:port binding="impl:helloservice2SoapBinding" name="helloservice2">

         <wsdlsoap:address location="http://localhost:8080/java1/services/helloservice2"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
